[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "cpptoml"]
	path = cpptoml
	url = https://github.com/cryptocode/cpptoml.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "diskhash"]
	path = diskhash
	url = https://github.com/nanocurrency/diskhash.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
