[submodule "submodules/miniupnp"]
	path = submodules/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "submodules/gtest"]
	path = submodules/gtest
	url = https://github.com/google/googletest.git
[submodule "submodules/cpptoml"]
	path = submodules/cpptoml
	url = https://github.com/cryptocode/cpptoml.git
[submodule "submodules/flatbuffers"]
	path = submodules/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "submodules/diskhash"]
	path = submodules/diskhash
	url = https://github.com/nanocurrency/diskhash.git
[submodule "boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost.git
